@import "../../../theme/colors.scss";

.container-column {
  margin-top: 5%;
  background-color: $primary;

  .station-input {
    border-color: $primary;
    border-radius: 20;
    border-style: solid;
    border-width: 1;
    background-color: $white;
    width: 90%;
    /*Android*/
    /*padding: 12 4;*/
    /*Ios*/
    padding: 24 8;
    flex-direction: row;
    align-items: center;
  }

  .station-forms {
    flex-direction: column;
    width: 85%;
    /*iOS*/
    justify-content: space-between;
    height: 150px;
  }
}

.title {
  font-size: 25;
  color: $white;
  align-self: center;
  margin-top: 5%;
}

.bottom-menu {
  /*display: flex;*/
  flex-direction: row;
  justify-content: space-between;
  height: 6%;
  /*width: 100%;*/
}
